* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url('./assets/bg.jpg');
    background-position: top center;
    background-size: 100% auto; /* 100% largura, auto altura */
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
}

header {
    margin-top: 32px;
    height: 120px;
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div img {
    width: 100%;
    border-radius: 50%;
}

header div:hover {
    transform: scale(1.1); /* efeito pulsar */
}

main {
    max-width: 360px; /* no projeto original era 580px */
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px; /* espaço entre sections */

}

section {
    color: white;

    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;
}

ul.channel-list li,
ul.social-list li {
    transition: transform .3s;
}

ul.channel-list li:hover,
ul.social-list li:hover {
    transform: scale(1.2);
}

ul.games-list {
    text-align: center;
}

ul.games-list img {
    width: 90px;
    border-radius: 8px;
}

ul.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

/* animation */

header div {
    animation: fromTop 1s .2s backwards; /* backwards puxa as propriedades do keyframes, pois há um atraso */
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: .2s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromTop { /* fromTop: nome qualquer */
    from {
        opacity: 0;
        transform: translateY(-30px); /* começa */
    }

    to {
        opacity: 1;
        transform: translateY(0); /* termina. 0 = posição atual */
    }
} 

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px); /* começa */
    }

    to {
        opacity: 1;
        transform: translateY(0); /* termina. 0 = posição atual */
    }
}

/* Swiper */
section {
    overflow: hidden;
}

section ul.games-list, ul.channel-list {
    flex-wrap: nowrap;
    gap: 0;
}

section ul.channel-list {
    justify-content: space-between;
}